:root{
    font-size: 62.5%;
    --roxo: #a443ea;
    --roxo-claro: #e9d0fa;
    --cinza-claro: #ebebeb;
    --cinza: #757575;
    --cinza-escuro: #2d2d2d;
    --branco: #f4f4f4;
}
/*A fonte utilizada no site originalmente era a Agatho Black! Entretanto, a versão gratuita deta fonte não possui caracteres especiais
Devido a isso, utilizamos Agatho apenas em partes do texto onde caracteres especiais não eram necessários
No restante, utilizamos a fonte Gentium Book Basic, uma fonte similhar a Agatho Black!*/
@font-face {
    font-family: Agatho;
    src: url(agatho_black/Agatho_Regular.otf);
    font-weight: 100;
}
@font-face {
    font-family: Gentium Book Basic;
    src: url(gentium-book-basic/GenBkBasBI.ttf);
}

@font-face {
    font-family: Agatho;
    src: url(goudy-old-style-bold.ttf);
    font-weight: bold;
    unicode-range: U+28-3A ;
}
@font-face {
    font-family: Agatho;
    font-weight: 100;
    src: url(goudi-olde-style/Goudi.TTF);
    unicode-range: U+28-3A ;

}

body {
    margin: 0;
    padding: 0;
    font-family: Agatho;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .01em;
    width: 100%;
}


a {
    color: var(--cinza-escuro);
}

hr {
    color: var(--cinza-claro);
    background-color: var(--cinza-claro);
    height: .1em;
    border: none;
    width: 100vw;
}
.linha-divisoria {
    display: inline-flex;
    align-items: center;
}

li::marker{
    color: var(--roxo);
    font-size: 0.7em;
    
}
li{
    padding-left: 0.4em;
    font-size: 2.2em;
    color: black;
}
header p{
    font-size: 2em;
    font-weight: bold;
}
main p{
    font-size: 2.5em;
    color: var(--cinza);
}
.especial_char{
    font-family: Goudi;
}
input, h1{
    font-family: Agatho;
    font-weight: bold;
}

.descricao-definicao{
    margin: 0;
    padding-left: 1.6em;
    margin-bottom: 2em;

}
h3{
    font-family: Gentium Book Basic;
    margin-right: 1em;
    font-size: 2.5em;
}
.esquerda{
    display: inline-flex;
    gap: 1.8em;
}

header {
    padding: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 3.4em;
    margin-bottom: 2.6em;
}

main, footer, header{
    overflow: hidden;
    width: 50%;
}

h1 {
    font-size: 8.2em;
    margin: 0;
}
.titulo-botao{
    display: flex;  
    flex-direction: row;
    justify-content:space-between;
}

article{
    padding-top: 0.5em;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    margin: 0;
    padding: 0 0 1.2em 0;
    color: var(--roxo);
    font-weight: 100;
}
ul li{
    padding: 0.3em 0;
}
ul{
    margin-bottom: 2.5em;
}
input {
    font-size: 2em;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--branco);
    border: none;
    padding: 1em;
    height: 3.2em;
    border-radius: .9em;
    background-image: url(lupa.png);
    background-position: 47.5vw 2.6vh;
    background-repeat: no-repeat;
    background-size: 2.5%;
    margin-bottom:3em;
}

.livro{
    width: 4.5em;
    height: 4.5em;

}

.termos-em-roxo {
    margin: 0;
    margin-left: 0.5em;
    color: var(--roxo);
    font-weight: bold;
}

.btn{
    border-radius: 5em;
    background-color: var(--cinza);
    height: 1.8em;
    width: 3.5em;
    border: none;
    padding-left: .2em;

}
.bola-branca{
    height: 1.2em;
    width: 1.2em;
    border-radius: 100%;
    background-color: white;
    margin-left: 0em;
}

.selecao{
    margin: 0;
    padding: 0;
}
.selecao:after{
    background-image: url(seta.png);
    background-size: 0.5em;
    display: inline-block;
    width: 0.5em; 
    height: 0.5em;
    content:"";
    background-repeat: no-repeat;
    margin-left: 0.7em;
}

.lua{
    width: 2.2em;
    height: 2.2em;
}


.linha_y {
border-left: 1px solid var(--cinza-claro);
display: inline;
height: 2em;
margin: 0 1em;
}

.bola-roxa {
    background-color: var(--roxo-claro);
    width: 8em;
    height: 8em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: .3em;

}
.triangulo {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid var(--roxo);
    rotate: 90deg;
}


footer{
    font-size: 1.6em;
    color: var(--cinza);
    padding: 0;
    margin: 0;
    margin-bottom: 7em;
    
}

footer a{
    padding-left: .8em;
    padding-right: .2em;
}