:root{
    font-size: 62.5%;
    --roxo: #a646ee;
    --roxo-claro: #e9d0fa;
    --cinza-claro: #757575;
    --cinca-escuro: #2d2d2d;
    --branco: #f4f4f4;
}

body {
    margin: 0;
    padding: 0;
    font-family: Goudi;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}

li::marker{
    color: var(--roxo);
    font-size: 0.7em;
}
li{
    padding-left: 0.4em;
    font-size: 2.2em;
}
.descricao-definicao{
    padding-left: 2.4em;
}
p{
    font-size: 2em;
}
input, select, h1{
    font-family: Agatho;
}
form, select{
    font-weight: bold;
}

@font-face {
    font-family: Gentium Book Basic;
    src: url(gentium-book-basic/GenBkBasBI.ttf);
}
@font-face {
    font-family: Agatho;
    src: url(agatho_black/Agatho_Regular.otf);
    font-weight: 100;
}
@font-face {
    font-family: Agatho;
    src: url(agatho_black/Agatho_\ Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Goudi;
    src: url(goudy-old-style-bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Goudi;
    font-weight: 100;
    src: url(goudi-olde-style/Goudi.TTF);
}
.sinonimo-descricao{
    font-weight: bold;
}

.definicoes{
    font-family: Gentium Book Basic;
}

.bola-roxa {
    background-color: var(--roxo-claro);
    width: 5em;
    height: 5em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 3px;

}
.titulo-botao{
    display: flex;  
    flex-direction: row;
    justify-content:space-between;
}
.triangulo {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #b277ff;
    rotate: 90deg;
}
/*.accent-purple{
    color: #e9d0fa
    color: #a646ee
    color: #f4f4f4
    color: #757575;
    color: #2d2d2d
}*/
header {
    padding: 2.5em;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}


main {
    overflow: hidden;
    width: 50%;
}

.sinomnimo-descricao{
    font-weight: bold;
}

h1 {
    font-size: 6.5em;
    margin: 0;
}
.descr


article{
    padding: 1em 0;
}

.som{
    font-size: 2.5em;
}

form{
    margin-bottom: 2.5em;
}

input {
    font-size: 1.6em;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--branco);
    border: none;
    padding: 1em;
    border-radius: 5em;
    
    background-image: url(lupa-roxa.png);
    background-position: 47vw 2.5vh;
    background-repeat: no-repeat;
    background-size: 2%;
}


.roxo {
    margin: 0;
    color: var(--roxo);
}


.cinza {
    color: var(--cinza-claro);
}


a {
    color: var(--cinca-escuro);
}


hr {
    color: var(--branco);
}


.linha-divisoria {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}


.linha-divisoria hr {
    overflow: hidden;
    width: 47vw;
    margin-left: 1em;
}


.selectdiv {
    display: inline;
    position: relative;    
  }


.selectdiv:after {
    content: '\07CD';
    color: var(--roxo);
    right: 2em;
    rotate: 180deg;
    top: 0.1em;
    height: 2vh;
    position: absolute;
}
 
select::-ms-expand {
display: none;
}


.selectdiv select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: none;
width: 10vh;
height: 5vh;
background-color: transparent;
}


.linha_y {
border-left: 1px solid var(--branco);
display: inline;
height: 1em;
margin: 0 1em;
}

