body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;

}

/*.accent-purple{
    color: #e9d0fa
    color: #a646ee
    color: #f4f4f4
    color: #757575;
    color: #2d2d2d
}*/
header{
    width: 51%;
    border: 1px solid purple;
    display: flex;
    flex-direction: row-reverse;
}



main{
    width: 50%;
    border: 1px solid black;
}

h1 {
    font-size: 40px;
    margin: 0;
    margin-top: 40px;
}

.div-wrapper {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    overflow-y: auto;
    border-radius: 5px;
}

li::marker {
    color: #a646ee;
}

.barra-de-pesquisa {
    background-color: #f4f4f4;
    border-radius: 5px;
}

.barra-de-pesquisa input{
    padding: 10px;
}
input{
    font-size: 1.2em;
    width: 90%;
    margin: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border: none;

}
.roxo {
    color: #a646ee;
}

.cinza {
    color: #757575;
}

a {
    color: #2d2d2d;
}

hr {
    color: #f4f4f4;
}

.linha-divisoria {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.linha-divisoria hr {
    width: 540px;
    margin-left: 10px;
}